/** NAV BAR */

@media screen and (min-width: 768px) {
  .navbar,
  .navbar-bg {
    height: 50px;
  }

  .navbar {
    display: flex;
    line-height: 20px;
    list-style: none;
    padding: 0;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  }

  .navbar-bg {
    background-color: #222;
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
    grid-column: 1 / 4;
    grid-row: 1;
    width: 100%;
    z-index: -1;
  }

  .navbar li {
    color: #9d9d9d;
  }

  .navbar a,
  .navbar-dropdown span {
    color: #9d9d9d;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
  }

  li.navbar-active {
    background-color: #080808;
  }

  li.navbar-active a,
  li.navbar-active span,
  .navbar a:hover {
    color: #ffffff;
  }

  .navbar-brand {
    font-size: 18px;
    margin-left: -15px;
  }

  .navbar-recent {
    margin: 0 auto;
  }

  .navbar-mailbox {
    padding: 8px 0 !important;
  }

  .navbar-mailbox input {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 1px;
    width: 250px;
  }

  .navbar-dropdown-content {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    display: none;
    min-width: 160px;
    position: absolute;
    text-shadow: none;
    z-index: 1;
  }

  .navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
  }

  .navbar-dropdown-content a {
    color: var(--primary-color) !important;
    display: block;
    padding: 5px 15px;
  }

  .navbar-dropdown-content a:hover {
    background-color: var(--selected-color);
  }
}
