<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{template "title" .}}</title>
    <link href="/public/main.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/jquery.color.js" type="text/javascript" charset="utf-8"></script>
    {{template "script" .}}
  </head>
  <body>
    <div id="header">
      <ul id="menu">
	<li><a href="/" accesskey="1" title="">Home</a></li>
	<li><a href="/status" accesskey="2" title="">Status</a></li>
      </ul>
      <form id="search" action="{{reverse "MailboxIndex"}}" method="GET">
	<fieldset>
	  <input name="name" type="text" id="input1" />
	  <input name="submit" type="submit" id="input2" value="Go" />
	</fieldset>
      </form>
    </div>
    <div id="content">
      <div id="colOne">
	{{template "menu" .}}
      </div>
      <div id="colTwo">
	{{with .ctx.Session.Flashes "errors"}}
	<div class="errors">
	  <p>Please fix the following errors and resubmit:<p>
	  <ul>
	    {{range .}}
	    <li>{{.}}</li>
	    {{end}}
	  </ul>
	</div>
	{{end}}
	{{template "content" .}}
      </div>
    </div>
    <div id="footer">
      <p>Inbucket is an open source project hosted at
      <a href="http://jhillyerd.github.com/inbucket/">github</a>.
      Design by <a href="http://www.freecsstemplates.org/">FCT</a>.</p>
    </div>
  </body>
</html>
