name: Lint Go Code

on:
  push:

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v5
        with:
          version: latest
          # Disable cache to prevent `File exists` errors.
          # https://github.com/golangci/golangci-lint-action/issues/135
          skip-pkg-cache: true
