name: Release (Snapshot)
on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Install Elm
        uses: jorelali/setup-elm@v2
        with:
          elm-version: 0.19.1
      - name: Build frontend
        run: |
          npm ci
          npm run build
        working-directory: ./ui
      - name: Build release artifacts
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --snapshot
